<header>
    <div class="main-header">
        <div class="demoapp">
            <h1>DEMO APP</h1>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <li class="active" ><a routerLink="/home">HOME</a></li>
                    <li><a routerLink="/User-Profile">About Us</a></li>
                    <li><a href="">JOBS</a></li>
                    <li><a href="">CLIENTS</a></li>
                    <li><a href="">EMPLOYERS</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
