<!-- 
  <div class="navbar">
  <div class="left">
    <img src="path/to/your/logo.png" alt="Logo" class="logo">
  </div>
  <div class="right">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/jobs">Jobs</a></li>
      <li><a routerLink="/clients">Clients</a></li>
      <li><a routerLink="/employees">Employees</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</div>
 -->
 <router-outlet></router-outlet>
 
 
 
 
     
   